/* style.css 
 * Autor: Rafael Moraes
 * Descrição: Estilos principais do site
 * Data: 2025-02-10
 */

 * {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Georgia, 'Times New Roman', Times, serif;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

h1 {
    color: #009adb;
    padding: 0;
    border-bottom: 5px solid #009adb;
    font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: ultra-condensed;
    margin: 0;
    margin-bottom: 1em;
}

h2 {
    margin: 1em 0;
    border-bottom: 2px solid black;
}

h3 {
    margin-top: 2em;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 1px solid lightgray;
    margin-bottom: 1em;
}

p {
    margin: 0 2em;
    line-height: 1.5rem;
}

.list-common {
    list-style-type: square;
    padding-left: 3.5em;
}

.task {
    margin-bottom: 1em;
}

table {
    width: 80%;
    border: 1px solid black;
    margin: 2em 6em;
    border-collapse: collapse;
}

table caption {
    font-weight: bold;
    padding: .7em;
}

table thead {
    background-color: lightgray;
}

table th, td {
    padding: 4px;
    border-collapse: collapse;
    border: 1px solid black;
}

table td a {
    text-decoration: none;
}

table tfoot {
    font-weight: bold;
    background-color: rgb(235, 230, 230);

}

.table-columm-2 {
    text-align: center;
}

.warning {
    background-color: lightgoldenrodyellow;
    margin: 1em 2em;
    padding: 1em;
}

.first-columm {
    width: 10%;
    text-align: center;
}

.second-columm {
    width: 60%;
    text-align: center;
}

.list-main-icon li::before, ul {
    list-style-type: none;
    content: "📌"; /* Define o emoji antes do item da lista */
    font-size: 1em; /* Ajusta o tamanho do emoji */
    margin-right: 8px; /* Espaço entre o emoji e o texto */
}

.list-checklist-icon li::before {
    list-style-type: none;
    content: "✅"; /* Define o emoji antes do item da lista */
    margin-right: .5em;
    padding-left: 3.5em;
    text-indent: -9em;
}

.list-checklist-icon li {
    padding-left: 3.5em;
    text-indent: -5.4em;
    line-height: 1.5em;
}

.list-common li {
    line-height: 1.5em;
}


