@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor-padrao-azul: rgb(65, 94, 155);
}
body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0;
}
header {
    background-color: var(--cor-padrao-azul);
    padding: 15px;
    color: white;
    font-weight: bold;
}

main {
    padding: 0 20px;
}
ul {
    list-style-type: square;
}
h1 { 
    color: var(--cor-padrao-azul);
    text-shadow: .2em .2em .2em silver;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
}

#h1_principal {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    padding: 5px;
    margin: 0;
    text-shadow: none;
}

address > p {
    margin: 20px 0 8px 0;
}

address > a {
    color: white;
}

address > a:hover {
    font-weight: bolder;
    background-color: rgba(233, 233, 66, 0.966);
    color: var(--cor-padrao-azul);
    border-radius: 5px;
    padding: 3px;
}
h2 {
    background-image: linear-gradient(45deg, var(--cor-padrao-azul) 60%, white);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    font-weight: bold;
    line-height: 1.2em;
}
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(78, 77, 77);
}
address{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 0em;
    color: white;
}
li#lista-videos {
    list-style-type: square;
    list-style-position: outside;
}
code {
    font-size: large;
}
/*tabelas de comandos gerais dos labs*/
.tabela-comandos {
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    margin: 10px 0;
    width: 1400px;
    min-width: 500px;
}
.tabela-comandos thead tr {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.3em;
    text-align: left;
    background-color: rgb(200, 200, 200);
    border: solid 1px rgb(109, 109, 109);
}
.tabela-comandos thead th {
    border: solid 1px rgb(109, 109, 109);
    padding-left: 5px;
}
.tabela-comandos tbody td:first-of-type {
    width: 400px;
}
.tabela-comandos tbody td {
    border: solid 1px rgb(109, 109, 109);
    padding: 3px;
    padding-left: 4px;
}

/*Essas são as tabelas de dispositivos da topologia*/
.tabela-complementar {
    font-family: monospace;
    font-size: 1.05em;
    text-align: center;
    border-collapse: collapse;
    border: solid 1px rgb(109, 109, 109);
    box-shadow: 5px 5px 3px rgb(124, 124, 124);
    width: 700px;
}
.tabela-complementar thead tr {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    background-color: rgb(200, 200, 200);
    border: solid 1px rgb(109, 109, 109);
}
.tabela-complementar tbody {
    font-size: 1.1em;
}
.tabela-complementar tbody td {
    border: solid 1px rgb(109, 109, 109);
    padding: 3px;
    padding-left: 4px;
}

/*Tabela do LAB02*/
.table-lab02 {
    border: 1px solid black;
    width: 400px;
    border-collapse: collapse;
}

.table-lab02 > tbody > tr > th {
    background-color: darkgrey;
    text-align: center;
}

.table-lab02 > tbody > tr > td {
    text-align: center;
    border: 1px solid black;
}

.exercicios_li > li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: var(--cor-padrao-azul);
    line-height: 1.5em;
}
a:hover{
    background-color: var(--cor-padrao-azul);
    color: white;
    border-radius: 5px;
    padding: 3px;
}
a:visited {
    text-decoration: none;
}
figcaption {
    /*text-indent: 20rem;*/
    font-style: italic;
    margin-left: 500px;
}
img {
    display: block; margin-left: 100px
}
footer {
    background-color: darkgrey;
    margin: auto;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}